
WindowsFormsApp5/.vs/WindowsFormsApp5/v15/.suo
WindowsFormsApp5/.vs/WindowsFormsApp5/v15/Server/sqlite3/storage.ide
WindowsFormsApp5/.vs/WindowsFormsApp5/v15/Server/sqlite3/storage.ide-shm
WindowsFormsApp5/.vs/WindowsFormsApp5/v15/Server/sqlite3/storage.ide-wal
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/TempPE/Connected Services.ServiceReference1.Reference.cs.dll
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/TempPE/Connected Services.WSAA.Reference.cs.dll
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/TempPE/Web References.ar.gov.afip.wsaahomo.Reference.cs.dll
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.csproj.CoreCompileInputs.cache
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.csproj.FileListAbsolute.txt
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.csproj.GenerateResource.cache
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.csprojAssemblyReference.cache
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.exe
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.Form1.resources
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.pdb
WindowsFormsApp5/WindowsFormsApp5/obj/Debug/WindowsFormsApp5.Properties.Resources.resources
